.latest-container{
  background: var(--Light-Gray);
  padding: 1rem 2rem 6rem;
}

.latest-container h1{
  padding: 5rem 0 2rem;
}

@media screen and (min-width: 900px){

  .latest-container{
    padding: 1rem 7rem 5rem;
  }

  .latest-container h1{
    text-align: left;
    font-size: 45px;
  }
}