:root {
  font-family: 'Public Sans';

  /* Global Color Variables */
  --Dark-Blue: hsl(233, 26%, 24%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);

  --request-btn-bg: linear-gradient(to right, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 100%);


  /* Global Font-Weight Variables */
  --Light: 300;
  --Regular: 400;
  --Bold: 700;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 375px;
  min-height: 100vh;
  max-width: 1440px;
  font-size: 1.125rem;
}

h1, h2, h3{
  margin: 0;
  color: var(--Dark-Blue);
  font-weight: var(--Regular);
}

h2{
  padding-top: 1rem;
  font-size: 1.25rem;
}

h3{
  font-size: 1.125rem;
}

button:hover{
  cursor: pointer;
  filter: opacity(65%)
}

p{
  margin: 0;
  padding: 1rem 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--Grayish-Blue);
}